.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.searchInput {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  height:35px;
}

.filterSearch {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height:35px;
}

.filterPrintType {
  display:flex;
  justify-content: center;
  align-items: center;
  height:20px;
  padding-right: 10px;
}
.filterPrintType p {
  font-size: 12px;
  padding-right: 5px;
}


.filterBookType {
  display:flex;
  justify-content: center;
  align-items: center;
  height:20px;
}

.filterBookType p {
  font-size: 12px;
  padding-right: 5px;
}

.bookOutputComponent {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.bookInfoWrapper {
  display:flex;
}

.bookTitle {
  display:flex;
  border:3px solid blue;
}

.bookImg {
display:flex;
border: 3px solid orange;
}


